<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/btn.css">
  <title>popup</title>
</head>
<body>
  <div id="root">
    <div class="header">
      <textarea placeholder="输入文字" class="form-control block" v-model="query.q"></textarea>
      <div class="lang-translate">
        <select class="form-control" v-model="query.from">
          <option :value="key" v-for="(val, key) in langs" :key="key">{{val}}</option>
        </select>
        <img src="images/right-arrow.png" class="translate-icon" />
        <select class="form-control" v-model="query.to">
          <option :value="key" v-for="(val, key) in langs" :key="key">{{val}}</option>
        </select>
      </div>
      <div>
        <button class="m-button m-button-info m-button-block" @click="handleTranslate">翻译</button>
      </div>
      <div class="translate-result">
        <span v-if="!result.bool" class="text-danger">{{result.content}}</span>
        <template v-else>{{result.content}}</template>
      </div>
    </div>
  </div>
  <div style="height: 35px;"></div>
  <footer class="footer">
    <div class="copyright">
      <!-- <span class="version">v1.0.0</span> -->
      <span>make by <a href="https://github.com/mengdu" target="_blank" title="https://github.com/mengdu">@Lanyue</a></span>&nbsp;
      <span><img src="images/code.png" alt="github"> <a href="https://github.com/mengdu/extension-manager" target="_blank" title="https://github.com/mengdu/extension-manager">Github</a></span>
    </div>

  </footer>
  <script src="js/vue.min.js"></script>
  <script src="js/md5.js"></script>
  <script src="js/request.js"></script>
  <script src="js/langs.js"></script>
  <script src="js/popup.js"></script>
</body>
</html>
